<div class="container">
    <h1>Star Wars People</h1>
    <button mat-raised-button color="primary" (click)="loadData()">Load People</button>
    <form [formGroup]="filterForm">
        <span>Find by</span>
        <mat-form-field>
            <mat-select formControlName="filterSelection">
                <mat-option value="name">Name</mat-option>
                <mat-option value="world">Home World</mat-option>
                <mat-option value="film">Film</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text"
                   placeholder="Enter Filter Value"
                   aria-label="Filter Input"
                   matInput
                   formControlName="filterValue"
                   #input
                   (keyup)="filter($event.target.value)">
          </mat-form-field>
      </form>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let person"> {{person.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="homeWorld">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Home World </th>
          <td mat-cell *matCellDef="let person"> {{person.world}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="birthYear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Year </th>
          <td mat-cell *matCellDef="let person"> {{person.dob}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="films">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Films </th>
          <td mat-cell *matCellDef="let person"><div *ngFor="let film of person.films">{{film}}</div></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator appStylePaginator
    [length]="test.length"
    [pageSize]="10"
    showFirstLastButtons>
    </mat-paginator>
</div>
